<!DOCTYPE html>
<html lang ="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title></title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	<style>
	.grad{
	height: 700px;
    background: linear-gradient(to top, #265077 34%, #6b6e70 74%)
	}
	.na{
	height: 75px;
    background: #494B68
	}
</style>
</head>
<body>
<div class = 'grad'>
	<header id="header" class="">
			<!-- As a heading -->
		<nav class="na">
  		<span class="navbar-brand mb-0 h1 text-white"><h2>Criminal Record Management</h2></span>
  		&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
  		&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
  		&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
  		&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
  		&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
  		&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
  		&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
  		&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
  		
  		<a href="/" class="navbar-brand mb-0 h1 text-white text-right">home</a><br>
		</nav>	
	</header><!-- /header -->

	<div class="container"><br>
		<h3 class="text-center text-white">Update Data</h3><br>
		<div class="col-8 m-auto d-block">

<form  th:action="@{/criminalRegPg}" th:object=${criminal} method="post">
<table class="table table-bordered text-white">
<tr>
<td>criminal No</td>
<td><input type="text" th:field="*{criminalNo}" readonly="readonly"></td>
</tr>
 
<tr>
<td>Criminal Name</td>
<td><input type="text" th:field="*{criminalName}"></td>
</tr>

<tr>
<td>jail Name</td>
<td><input type="text" th:field="*{jailName}"></td>
</tr>

<tr>
<td>cell No</td>
<td><input type="text" th:field="*{cellNo}"></td>
</tr>

<tr>
<td>assign Work</td>
<td><input type="text" th:field="*{assignWork}"></td>
</tr>
<tr>
	<td colspan="2">
	<button type="submit">save</button>
	</td>
</tr>
</table>
</form>
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</div>
</body>
</html>